apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ${CLASS_CLAIM}
  namespace: ${NAMESPACE}
spec:
  storageClassName: csi-cephfs-sc
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
---
kind: Service
apiVersion: v1
metadata:
  name: ${APP}
  namespace: ${NAMESPACE}
spec:
  selector:
    app: ${APP}
  ports:
  - protocol: TCP
    port: ${INN_PORT}
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: ${NAMESPACE}
  name: ${APP}
spec:
  replicas: ${REPLICAS_COUNT}
  selector:
    matchLabels:
      app: ${APP}
  template:
    metadata:
      labels:
        app: ${APP}
    spec:
      containers:
      - name: ${APP}
        envFrom:
        - configMapRef:
            name: ${NAMESPACE}-env
        - configMapRef:
                name: prodsearch-config
        image: ${IMAGE_NAME}
        imagePullPolicy: Always
        ports:
          - containerPort: ${INN_PORT}
            protocol: TCP
        readinessProbe:
          httpGet:
            path: /prodsearch/health
            port: ${INN_PORT}
          initialDelaySeconds: 10
        livenessProbe:
          httpGet:
            path: /prodsearch/health
            port: ${INN_PORT}
          initialDelaySeconds: 10
        volumeMounts:
        - mountPath: /boclasses
          name: ${CLASS_CLAIM}
      restartPolicy: Always
      volumes:
        - name: ${CLASS_CLAIM}
          persistentVolumeClaim:
            claimName: ${CLASS_CLAIM}
            readOnly: false
      imagePullSecrets:
      - name: nexus-registry
